<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="default.css">
        <link rel="stylesheet" href="createLobby.css">
    </head>
    <body
        <div class="container">
            <nav class="<%=textVisible%>">
                <div class="logoDiv">
                    <img src="imgs/logo.png">
                </div>
                <a class="option" href="/">
                    <img src="imgs/people-color.png" />
                    <p>Lobbies</p>
                </a>
                <a class="option" href="/createLobby">
                    <img src="imgs/game-color.png" />
                    <p>Games</p>
                </a>
                <a class="option" href="/about">
                    <img src="imgs/info-color.png" />
                    <p>About</p>
                </a>
            </nav>
            <div class="games">
                <div class="game">
                    <img src="">
                    <h2>Taboo</h2>
                    <p>Aha spoko ok</p>
                    <button>Create Lobby</button>
                </div>
            </div>
        </div>
        <script src="default.js"></script>
    </body>
</html>
