<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Party Games</title>
        <link rel="stylesheet" href="default.css" />
        <link rel="stylesheet" href="lobbies.css">
    </head>
    <body>
        <div class="container">
            <nav class="">
                <div class="logoDiv">
                    <img src="imgs/logo.png" />
                </div>
                <a class="option" href="/">
                    <div class="image">
                        <img src="imgs/people-color.png" />
                    </div>
                    <p>Lobbies</p>
                </a>
                <a class="option" href="/createLobby">
                    <div class="image">
                        <img src="imgs/game-color.png" />
                    </div>
                    <p>Games</p>
                </a>
                <a class="option" href="/about">
                    <div class="image">
                        <img src="imgs/info-color.png" />
                    </div>
                    <p>About</p>
                </a>
                <!--? Profile / Login button -->

                <% if(nick && nick.trim() != ""){ %>
                    <a class="option profile" href="/profile">
                        <div class="image">
                            <img src="imgs/person-color.png" />
                        </div>
    
                        <p><%=nick%></p>
                    </a>
    
                    <% } else { %>
                    <a class="option profile" href="/login">
                        <div class="image">
                            <img src="imgs/person-color.png" />
                        </div>
    
                        <p>Login</p>
                    </a>
                <% } %>
            </nav>
            <div class="lobbies">
                <div class="lobby">
                    <div class="players">
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                    </div>
                    <h2>Big title skibidi ohio</h2>
                    <p>Players: 3/4</p>
                    <button>Join</button>
                </div>
                <div class="lobby">
                    <div class="players">
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                    </div>
                    <h2>Big title skibidi ohio</h2>
                    <p>Players: 3/4</p>
                    <button>Join</button>
                </div>
                <div class="lobby">
                    <div class="players">
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                    </div>
                    <h2>Big title skibidi ohio</h2>
                    <p>Players: 3/4</p>
                    <button>Join</button>
                </div>
                <div class="lobby">
                    <div class="players">
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                    </div>
                    <h2>Big title skibidi ohio</h2>
                    <p>Players: 3/4</p>
                    <button>Join</button>
                </div>
                <div class="lobby">
                    <div class="players">
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                    </div>
                    <h2>Big title skibidi ohio</h2>
                    <p>Players: 3/4</p>
                    <button>Join</button>
                </div>
                <div class="lobby">
                    <div class="players">
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                    </div>
                    <h2>Big title skibidi ohio</h2>
                    <p>Players: 3/4</p>
                    <button>Join</button>
                </div>
            </div>
        </div>
        <script src="default.js"></script>
    </body>
</html>
