<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Party Games</title>
        <link rel="stylesheet" href="default.css" />
        <link rel="stylesheet" href="lobbies.css">
    </head>
    <body>
        <div class="container">
            <nav class="<%=textVisible%>">
                <a class="option" href="/">
                    <img src="imgs/people-color.png" />
                    <p>Lobbies</p>
                </a>
                <a class="option" href="/createLobby">
                    <img src="imgs/game-color.png" />
                    <p>Games</p>
                </a>
                <a class="option" href="/about">
                    <img src="imgs/info-color.png" />
                    <p>About</p>
                </a>
            </nav>
            <div class="lobbies">
                <div class="lobby">
                    <div class="players">
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                    </div>
                    <h2>Big title skibidi ohio</h2>
                    <p>Players: 3/4</p>
                    <button>Join</button>
                </div>
                <div class="lobby">
                    <div class="players">
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                    </div>
                    <h2>Big title skibidi ohio</h2>
                    <p>Players: 3/4</p>
                    <button>Join</button>
                </div>
                <div class="lobby">
                    <div class="players">
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                    </div>
                    <h2>Big title skibidi ohio</h2>
                    <p>Players: 3/4</p>
                    <button>Join</button>
                </div>
                <div class="lobby">
                    <div class="players">
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                    </div>
                    <h2>Big title skibidi ohio</h2>
                    <p>Players: 3/4</p>
                    <button>Join</button>
                </div>
                <div class="lobby">
                    <div class="players">
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                    </div>
                    <h2>Big title skibidi ohio</h2>
                    <p>Players: 3/4</p>
                    <button>Join</button>
                </div>
                <div class="lobby">
                    <div class="players">
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                        <div class="player"/></div>
                    </div>
                    <h2>Big title skibidi ohio</h2>
                    <p>Players: 3/4</p>
                    <button>Join</button>
                </div>
            </div>
        </div>
        <script src="default.js"></script>
    </body>
</html>
