<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Party Games</title>
        <link rel="stylesheet" href="default.css" />
        <link rel="stylesheet" href="signup.css" />
    </head>
    <body>
        <div class="container">
            <nav class="">
                <div class="logoDiv">
                    <img src="imgs/logo.png" />
                </div>
                <a class="option" href="/">
                    <div class="image">
                        <img src="imgs/people-color.png" />
                    </div>
                    <p>Lobbies</p>
                </a>
                <a class="option" href="/createLobby">
                    <div class="image">
                        <img src="imgs/game-color.png" />
                    </div>
                    <p>Games</p>
                </a>
                <a class="option" href="/about">
                    <div class="image">
                        <img src="imgs/info-color.png" />
                    </div>
                    <p>About</p>
                </a>

                <!--? Profile / Login button -->

                <a class="option profile" href="/login">
                    <div class="image">
                        <img src="imgs/person-color.png" />
                    </div>

                    <p>Login</p>
                </a>
            </nav>
            <div class="content">
                <div class="warning">
                    <h2>Warning!</h2>
                    <p>Your email doesn't contain "@" sign</p>
                </div>
                <div class="signup">
                    <h2>Sign up</h2>
                    <input
                        type="text"
                        placeholder="username..."
                        id="username"
                        required
                    />
                    <input
                        type="email"
                        placeholder="email..."
                        id="email"
                        required
                    />
                    <span>
                        <input
                            type="password"
                            placeholder="password..."
                            id="password"
                            required
                        />
                        <p>
                            You have an account? Log in
                            <a href="/login">here</a>
                        </p>
                    </span>
                    <button onclick="createAccount()">Sign up</button>
                </div>
            </div>
        </div>
        <script src="signup.js"></script>
    </body>
</html>
