@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Reenie+Beanie&display=swap");

:root {
    --bg: #000000;
    --bg2: #00000073;
    --btn: #1a0d96;
    --text: rgb(194, 192, 212);
    --accent: #5942ff;
    --warning: #ff5e5e;
    --warningText: #ebdddd;
}

body {
    margin: 0;
    font-family: "Noto Sans";
    background-image: url("imgs/bg.png");
    background-size: cover;
    backdrop-filter: blur(5px);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

nav {
    background-color: var(--bg2);
    width: 16vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;

    z-index: 10;

    transition: all 0.25s;
}
.logoDiv {
    width: 80%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoDiv img {
    width: 100%;
}
.image img {
    width: 100%;
}

.option {
    width: 11vw;
    height: 6vh;
    border-radius: 1.1vw;

    padding-inline: 1vw;

    background-color: var(--bg);
    color: var(--text);
    border: 2px solid var(--accent);
    box-shadow: 0 0 7px 2px var(--accent);

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.6rem;

    user-select: none;
    cursor: pointer;
    text-decoration: none;

    transition: all 0.2s;
}
.option .image {
    width: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option img {
    height: 100%;
}
.option p {
    font-size: 1.3vw;
    width: 6vw;
    transition: all 0.2s;
    text-align: center;
}
.option:hover {
    background-color: var(--accent);
}
.profile {
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: 2vh;
}
.profile p {
    font-size: 1vw;
}

.warning {
    background-color: #000000;
}
