.content {
    width: 84vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    width: 35vw;
    height: 42vh;

    border-radius: 2vw;

    background-color: var(--bg2);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}
.login h2 {
    font-size: 2rem;
    color: var(--text);
    margin-bottom: 0;
}

input {
    width: 25vw;
    height: 4vh;

    background-color: var(--bg2);
    padding-inline: 0.5vw;
    padding-block: 0.7vh;

    border: var(--accent) 2px solid;
    border-radius: 0.5vw;
    font-size: 1.2rem;

    color: var(--bg2);

    outline: none;
}

input::placeholder {
    color: var(--text);
}

.login button {
    width: calc(25vw + 1vw);
    height: 6vh;

    padding: 0;

    font-size: 1.6rem;

    border: 1px solid var(--accent);
    border-radius: 0.5vw;

    background-color: var(--bg2);
    color: white;

    cursor: pointer;

    outline: none;

    transition: all 0.2s;
}
.login button:hover {
    background-color: var(--accent);
    box-shadow: 0 0 7px 2px var(--accent);
}

.login p {
    margin: 0;
    margin-top: 1vh;
    color: var(--text);
}
.login a {
    color: #7dd8fa;
    text-decoration: underline;
}
